/* Diagnostic Styling */
/* temp background color */
body{
    background: honeydew;
  }

  #confetti{
    background: lightgoldenrodyellow;
    padding: 1em; 
    border-radius: .75em;
  }
  
  body{
    display: grid; 
    place-items: center;
    height: 100vh; 
  }